# /etc/systemd/system/go-audit.service
[Unit]
Description = go-audit
After=network.target auditd.service
Conflicts = auditd.service

[Service]
Type = simple
ExecStart = /usr/local/bin/go-audit -config /etc/go-audit.yaml

[Install]
WantedBy = multi-user.target
