name: Build and test
on:
  push:
  pull_request:
    paths:
      - '.github/workflows/test.yml'
      - '**Makefile'
      - '**.go'
      - 'go.mod'
      - 'go.sum'
jobs:

  test-linux:
    name: Build all and test
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go Stable
        uses: actions/setup-go@v6
        with:
          go-version: stable
          check-latest: true
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v5

      - name: Build
        run: make

      - name: Test
        run: make test
